@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@300;400&family=Shrikhand&display=swap');
@import './mixin.scss';
@import './variables.scss';

*{ 
    box-sizing: border-box;
    font-family: $font;
}

body {
    background-image: url('../images/Background-groupomania.png');
}

.container{

    max-width: 1440px;
    margin: auto;
    width: 100%;
    
}


.margin {
    margin: 0 30px 0 30px;
}


header {
    @include break-mobile {
        display: flex;
        justify-content: center;
    }
}

.header-flex {
    display: flex;
    margin: 30px 0 0 0px; 
    align-items: center;

        @include break-mobile {
            display: block; 
        }

    & img {
        height: 40px;

        @include break-mobile {
            height: 50px; 
        }
    }
}

.logo-flex {
    @include break-mobile { 
        display: flex;
        justify-content: center;
    }
}

.nav-flex-signup {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

        @include break-mobile { 
            justify-content: center;
            margin-top: 50px;
            gap: 50px;
        }
        & a {
           
            text-decoration: none;
            font-weight: bold;
            font-size: 17px;
            margin-right: 50px;
            color: $color-primary;
            padding: 5px 30px 5px 30px;
        
                @include break-mobile {
                    margin: 0px;
                }

            &:hover {
                border-radius: 53px;
                background-color: $color-secondary ;

            }
        }

        & p {

            text-decoration: none;
            font-weight: bold;
            font-size: 17px;
            color: $color-primary;
            padding: 5px 30px 5px 30px;
            border-radius: 53px;
            background-color: $color-secondary !important;
            cursor: pointer;

            @include break-mobile {
                margin: 0px;
            }
        }
}

.main-flex {    
    display: flex;
    width: 100%;
    margin: 90px 30px 0px 0px;

    @include break-tablet {      
        justify-content: center; 
    }

    @include break-mobile {
        margin-top: 0px;
    }
}

.illustration-signup {
    width: 50%;
    display: flex;
    align-items: center;
    height: 600px;
    
    & img {
        max-width: 100%;
        max-height: 100%;
        
    }

    @include break-tablet {
            display: none;
        }
}

.form-signup {
    flex-direction: column;
    
    position: relative;
    width: 50%;

    @include break-tablet {
        display: flex;
        justify-content: center;
        margin: 0px;
        width: 70%;    
    }

    @include break-mobile {
        width: 100%;
    }
   
    & h1 {
        text-align: center;
        color: $color-primary;
        font-size: 48px;
        margin-bottom: 50px;

        @include break-mobile {
            font-size: 38px ;
        }
  
    }
    
    & .input-icon {

        & .icon-pseudo {
            position: absolute; 
            left: 20px; 
            top: 166px;
            height: 40px;

            @include break-mobile {
                position: absolute; 
                left: 20px; 
                top: 146px;
                height: 40px;
            
            }
        }

        & .icon-envelope {
            position: absolute; 
            left: 20px; 
            top: 274px;
            height: 40px;

            @include break-mobile {
                position: absolute; 
                left: 20px; 
                top: 254px;
                height: 40px;
            
            }
        }

        & .icon-key {
            position: absolute; 
            left: 20px; 
            top: 380px;
            height: 40px;

            @include break-mobile {
                position: absolute; 
                left: 20px; 
                top: 360px;
                height: 40px;
            }
        } 
        
        & input {
            width: 100%;
            height: 75px;
            margin-bottom: 32px;
            border: 2px solid $color-primary;
            border-radius: 16px;
            background-color: transparent;
            font-size: 20px;
            color: $color-primary;

            &[type="pseudo"] {
                padding-left: 70px;
            }

            &[type="mail"] {
                padding-left: 70px;
            }

            &[type="password"] {
                padding-left: 70px;
            }

            &::placeholder{   
                font-size: 20px;
                font-weight: bold;
                color: $color-primary;
                opacity: 60%;
            }

            &:focus {
                outline: none !important;
                border-color: $color-primary;
                box-shadow: 0px 3px 8px rgb(154, 57, 38, 40%);

            }
        }
    }

    & .checkbox-cgu {
        display: flex;
        align-items: center;
    
        & input[type="checkbox"] { 
            width: 20px;
            height: 20px;
            margin-left: 0px;
            appearance: none;
            background-color: none; 
            font: inherit;
            color: $color-primary;
            border: 2px solid currentColor;
            border-radius: 5px;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
    
                &::before {
                    content: "";
                    width: 0.65em;
                    height: 0.65em;
                    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                    transform: scale(0);
                    transform-origin: bottom left;
                    transition: 120ms transform ease-in-out;         
                    background-color: $color-primary;      
                }
    
                &:checked::before {
                    transform: scale(1);
                }
        }
    
        & .cgu { 
            padding-left: 10px;
            color: $color-primary;

            & a {
                color: $color-primary;
            }
        }
    }

    & .button-sign {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    
        & button {
                width: 75%;
                height: 75px;
                font-weight: bold;
                font-size: 22px;
                color: white;
                background-color: $color-primary;
                border: none; 
                border-radius: 16px; 
                cursor: pointer;
                margin-bottom: 120px;
                
            &:hover {
                background-color: #821007;
            }
        }
    }
}

footer {
    margin-top: 100px;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    

    & .footer-icon {
        & .icon {
            height: 30px;
    
            &:hover {
                filter: grayscale(100%);
                // filter: saturate(180%);
            }
        }
    }
}  




// Sign Up 

.icon-key-login {
    position: absolute; 
    left: 27px; 
    top: 276px;
    height: 30px;
    color: $color-primary;

    @include break-mobile {
        position: absolute; 
        left: 27px; 
        top: 257px;
        height: 30px;
    }

}

.fa-at {
    position: absolute; 
    left: 20px; 
    top: 170px;
    font-size: 35px;
    color: $color-primary;

    @include break-mobile {
        position: absolute; 
        left: 20px; 
        top: 150px;
        height: 35px;
        
    }
}

.button-sign-login {
    display: flex;
    justify-content: center;
    margin-top: 12px;

    & button {
            width: 75%;
            height: 75px;
            font-weight: bold;
            font-size: 22px;
            color: white;
            background-color: $color-primary;
            border: none; 
            border-radius: 16px; 
            cursor: pointer;
            margin-bottom: 120px;
            
        &:hover {
            background-color: #821007;
        }
    }
}


.header-flex-login {
    display: flex;
    margin: 30px 0 0 0px; 
    align-items: center;
    flex-direction: row-reverse;

        @include break-mobile {
            display: block; 
        }

    & img {
        height: 40px;

        @include break-mobile {
            height: 50px; 
        }
    }
}

.nav-flex-login {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

        @include break-mobile { 
            justify-content: center;
            margin-top: 50px;
            gap: 50px;
        }
        & a {
           
            text-decoration: none;
            font-weight: bold;
            font-size: 17px;
            margin-left: 50px;
            color: $color-primary;
            padding: 5px 30px 5px 30px;

                @include break-mobile {
                    margin: 0px;
                }

            &:hover {
                border-radius: 53px;
                background-color: $color-secondary !important;

            }
        }

        & p {

            text-decoration: none;
            font-weight: bold;
            font-size: 17px;
            color: $color-primary;
            padding: 5px 30px 5px 30px;
            border-radius: 53px;
            background-color: $color-secondary !important;
            cursor: pointer;

            @include break-mobile {
                margin: 0px;
            }

        }
}

.main-flex-login {    
    display: flex;
    width: 100%;
    margin: 90px 30px 0px 0px;
    flex-direction: row-reverse;

    @include break-tablet {      
        justify-content: center; 
    }

    @include break-mobile {
        margin-top: 0px;
    }
}


.illustration-login {
    width: 50%;
    display: flex;
    align-items: center;
    height: 600px;
    justify-content: flex-end;
    
    & img {
        max-width: 100%;
        max-height: 100%;
        
    }

    @include break-tablet {
            display: none;
        }
}


// Main page 


.user-picture {

    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-right: 50px;
    margin-left: 70px;

}

.header-flex-main {
    display: flex;
    align-items: center;


}

.nav-flex-main {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;

    & p {
        color: $color-primary; 
        font-weight: bold;
        padding: 10px 20px 10px 20px; 

        &:hover {
            background-color: $color-secondary;
            border-radius: 53px;


        }
    }


}

.logo-flex-main {
    & img {
        height: 40px;
        margin-left: 150px;
    }
}

.bg-main {
    background-color: white;
    padding: 15px 0 15px 0;
    box-shadow: 0px 3px 8px rgb(154, 57, 38, 40%);
}



.make-post {
    
    background-color: white;
    margin: 60px 0 0 0;
    box-shadow: 0px 3px 8px rgb(154, 57, 38, 40%);
    border-radius: 20px;
    padding-bottom: 30px;
    max-width: 620px;
    width: 100%;
    
    
    
     
    
}


.post-form-flex {
    display: flex;
    flex-basis: 100%;
}



.make-comment {

  display: block;
  width: 70%;
  overflow: hidden;
  min-height: 40px;
  line-height: 20px;
  resize: none;
  border: none;
  flex-basis: 70%;
  margin: 40px 0 0 30px;
  border-bottom: 2px solid $color-primary ;
  padding-bottom: 5px;

    &:focus {
    outline: none;
  }

  &[contenteditable]:empty::before{
    content: "Ajoutez un post";
    color: $color-primary;
    font-weight: bold;


  }
    
}

.make-post-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px 44px 0 0 ;

    
}


.import-file {

    & img {
        height: 30px;
    }
}

label[for="file-upload"] {
    
    cursor: pointer;
    margin-right: 20px;
    padding: 5px 8px 3px 8px; 

    &:hover {
        background-color: rgb($color-secondary, 0.5);
        border-radius: 30px;
  
    }
    
}

#file-upload {
    display: none; 
}

.post-button{

    width: 20%;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: $color-primary;
    border: none; 
    border-radius: 16px; 
    cursor: pointer;
    
                
    &:hover {
        background-color: #821007; 
    }



}




















.container-flex {
    display: flex;
    justify-content: center;
    
}

.post {
    
    
    background-color: white;
    margin: 60px 0 0 0;
    box-shadow: 0px 3px 8px rgb(154, 57, 38, 40%);
    border-radius: 20px;
    flex-direction: column;
   // width: 40%;
    

}

.post-picture {
    flex-basis: 15%;
}


.user-post-picture {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-left: 40px;
    margin-top: 30px;
}

.post-text {
    margin-top: 30px;
    padding-left: 20px;
    flex: 75%;

    & h2 {
        font-size: 17px ;
        margin: 0px;

    }
    & p {
        margin: 8px 0 0 0 ;
        color: rgba(0, 0, 0, 0.54);  
    }
}




.post-option {
    display: flex;
    flex-basis: 70%;
    justify-content: flex-end;
    

    & img {
        
        margin: 30px 40px 0 0; 
        height: 30px;
        

    }

    
}

.post-header-flex {
    display: flex;
    flex-basis: 100%;
    position: relative;
    
       /* &:after {
            content: ""; 
            height: 3px ;
            width: 300px ;
            background-color: $color-primary;
            position: absolute;
            top: 90px; 
            left: 40px; 
        }*/
        
    

}


.post-image {
    display: flex;
    justify-content: center;
    margin: 10px 80px 0 80px;
    height: 300px;
    
    
    

    & img {
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;

    }

}

.post-text-content {
    display: flex;
    justify-content: flex-start;
    margin: 30px 80px 0 80px;
}

.post-footer-flex {
    display: flex;
    flex-basis: 100%;
   
    
        & .post-comment {
            
            margin: 25px 0 25px 20px;
            padding: 5px 20px 0 20px;
            flex-basis: 60%;
            
     
            &:hover {
                background-color: $color-secondary;
                border-radius: 30px;
                
            }
    
            & .post-comment-text {
                color: $color-primary;
                font-size: 16px;
                font-weight: bold;
          
            }

            & img {
                height: 40px;
                padding-right: 10px;
                vertical-align: middle;          
               
            }
        }

        & .post-like {
            display: flex;
            flex-basis: 50%;
            justify-content: flex-end;
            
            & .like-number {
                color: $color-primary;
                font-size: 18px;
                font-weight: bold;
                margin: 30px 40px 0 0;
            }

        }
}


.post-like {
    position: relative;

    & i{

        font-size: 30px; 
        position: absolute; 
        right: 65px;
        top: 26px; 
        
        }

        & .fa-regular {
            color: $color-primary;
        }
    
        & .fa-solid {
    
            opacity: 0;
    
            &:hover{
    
                opacity: 1;    
                color:transparent;
                background: $color-primary; 
                background-clip: text;
                -webkit-background-clip: text;
                transition: 200ms;
                transform: scale(1.03);
                cursor: pointer;
            }
        }
    
}

.button-disconnect {
    height: 50px;
    margin-right: 150px;
    
}


.all-comment{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    & > .comment-flex {
        margin-bottom: 15px;

    }
}

.comment-flex {
    display: flex;
    flex-direction: column;
    margin: 0px 40px 0px 0;
    padding: 10px 10px 0 10px; 
    background-color: lightgrey; 
    border-radius: 10px;
    width: 100%;
    max-width: 481px;

    & p {
        margin: 0 0 10px 0;

        &:nth-child(1){
            font-weight: 600;


        }
 
    }

}

.user-comment-picture {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    margin-left: 40px;
    margin-top: 5px;
}

.create-comment {

    display: block;
    width: 70%;
    overflow: hidden;
    min-height: 40px;
    line-height: 20px;
    resize: none;
    border: none;
    flex-basis: 77%;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid $color-primary ;
    padding-bottom: 5px;
  
      &:focus {
      outline: none;
    }
  
    &[contenteditable]:empty::before{
      content: "Ajoutez un commentaire";
      color: $color-primary;
      font-weight: bold;
  
  
    }
      
  }

  .comment-picture {
    margin-top: 20px;
  }

  .comment-button {
   
    width: 15%;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: $color-primary;
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
    
                
    &:hover {
        background-color: #821007; 
    }
}

.button-flex {

    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-bottom: 20px;
}


.button-disconnect {
    padding: 10px;
    padding-top: 18px;
    border-radius: 30px;
    
    & .fa-power-off {
        font-size: 28px;
        cursor: pointer; 
        color: $color-primary; 
    }

    &:hover {
        background-color: rgb($color-secondary, 0.5);
    }
}