@mixin break-tablet {
    @media (max-width: $tablet){
        @content
    }
};

@mixin break-mobile {
    @media (max-width: $mobile){
        @content
    }
};

@mixin ContainerGrid {
    .ContainerGrid {
        margin: 0;
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 0.9fr auto;
        align-items: end;
    }
};

@mixin Container {
    .container {
        max-width: 1440px;
        margin: auto;
        width: 100%;
    
    }
};

@mixin HeaderRoutes-active {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: $color-primary;
    padding: 5px 30px 5px 30px;
    border-radius: 53px;
    background-color: $color-secondary  !important;
    cursor: pointer;

    @include break-mobile {
        margin: 0px;
        padding: 5px 15px 5px 15px;
        
    }


};

@mixin HeaderRoutes-inactive {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: $color-primary;
    padding: 5px 30px 5px 30px;

    @include break-mobile {
        margin: 0px;

        padding: 5px 15px 5px 15px;
    }

    &:hover {
        border-radius: 53px;
        background-color: $color-secondary;
        animation: bubble 0.5s;

    }

};

@mixin LogForm{
    flex-direction: column;
    position: relative;
    width: 50%;

    @include break-tablet {
        display: flex;
        justify-content: center;
        margin: 0px;
        width: 70%;
    }

    @include break-mobile {
        width: 100%;
    }

    &-header {
        text-align: center;
        color: $color-primary;
        font-size: 48px;
        margin: 30px 0 50px 0; 

        @include break-mobile {
            font-size: 28px;
            margin-bottom: 30px
        }
    }
};

@mixin LogInput {
    width: 100%;
    height: 75px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 2px solid $color-primary;
    border-radius: 16px;
    background-color: transparent;
    font-size: 20px;
    color: $color-primary;

    &[type="pseudo"], &[type="mail"], &[type="password"], &[type="text"] {
        padding-left: 70px;
    }

    &[type="password"], [type="text"] {
        padding-right: 70px;
    }

    &::placeholder {
        font-size: 20px;
        font-weight: bold;
        color: $color-primary;
        opacity: 60%;
    }

    &:focus {
        outline: none;
        border-color: $color-primary;
        box-shadow: 0px 3px 8px rgb(154, 57, 38, 40%);

    }
};

@mixin MailInput {
    position: absolute;
    left: 20px;
    top: 38px;
    font-size: 35px;
    color: $color-primary;

    @include break-mobile {
        position: absolute;
        left: 20px;
        top: 38px;
        height: 35px;

    }

    &:hover {
        animation: bubble 0.5s
    }
}; 

@mixin PasswordInput {
    position: absolute;
    left: 27px;
    top: 38px;
    height: 30px;
    color: $color-primary;

    @include break-mobile {
        position: absolute;
        left: 27px;
        top: 38px;
        height: 30px;
    }

    &:hover {
        animation: bubble 0.5s
    }
}; 

@mixin ShowPassword {
    &-hide {
        color: $color-primary; 
        position: absolute;
        right: 24px; 
        top: 45px; 
        height: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    &-show {
        color: $color-primary; 
        position: absolute;
        right: 25px; 
        top: 45px; 
        height: 20px;

        &:hover {
            cursor: pointer;
        }
    }
}

@mixin Checkbox {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-left: 0px;
    appearance: none;
    background-color: none;
    font: inherit;
    color: $color-primary;
    border: 2px solid currentColor;
    border-radius: 5px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;

    &::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        background-color: $color-primary;
    }

    &:checked::before {
        transform: scale(1);
    }
};

@mixin InputController {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &-icon {
        font-size: 20px;
        padding-right: 10px;
        color: $color-tertiary;
    }

    &-error {
        color: $color-tertiary;
        font-weight: bold;
        margin: 0;

        @include break-mobile {
            text-align: center;

        }
    }
};

@mixin LogButton {
    width: 75%;
    height: 75px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    background-color: $color-primary;
    border: none;
    border-radius: 16px;
    cursor: pointer;

    &:hover {
         background-color: #821007;
    }
};


@mixin ContainerFlex {
    .container-flex {
        display: flex;
        justify-content: center;
    }
}; 

@mixin profil-picture__container {
    min-height: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;

}

@mixin profil-picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
};

@mixin input-add {
    display: block;
    overflow: hidden;
    width: 100%;
    min-height: 40px;
    line-height: 20px;
    resize: none;
    border: none;
    margin: 0 30px 0 0;
    border-bottom: 2px solid $color-primary ;
    padding-bottom: 5px;

    &:focus {
         outline: none;
    }

    &[contenteditable]:empty::before {
        color: $color-primary;
        font-weight: bold;
    }
}

@mixin send-button {
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: $color-primary;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;

    &:hover {
        background-color: #821007;
    }
};

@mixin CommentOrLike__button {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px 35px 5px 35px;
    cursor: pointer;
    color: $color-primary;

    &:hover {
        background-color: whitesmoke;
        border-radius: 6px;

        
    }

    &-icon {
        font-size: 25px;
        padding-right: 15px;

    }

    &-number {
        font-size: 16px;
        font-weight: bold;

    }
};

@mixin PopupMessage {
    display: flex;
    margin: 0px 30px 0px 30px;
    position: fixed;
    bottom: 15px;
    left: 5px;

    @include break-tablet {
        bottom: 15px;
    }

    &-content {
        display: flex;
        gap: 70px;
        width: 100%;
        z-index: 99;
        flex-direction: column;
        display: flex;
        min-width: 10%;
        max-width: 400px;
        background-color: $color-primary;
        border-radius: 6px;
        box-shadow: $primary-shadow;

        @include break-tablet {
            bottom: -211px;
            left: 0;
            margin: 0px;

        }

        @include break-mobile {
            bottom: -193px;
            left: 0;
            margin: 0px;

        }
    }

    &-button {
        display: flex;
        flex-direction: column;
        gap: 5px;

    }

    &-profil {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 20px;
        cursor: pointer;
        color: white;
        gap: 20px;

        &-icon {

            font-size: 30px;

        }

        &-text {
            font-size: 16px;
            font-weight: bold;

        }

        &-close {
            font-size: 19px;
            border-radius: 100%;

            &:hover {

                color: #DADADA;
            }

        }
    }
}; 

@mixin Fade {
    .OptionFade-enter-active,
    .OptionFade-leave-active {
        transition: opacity .2s;

    }

    .OptionFade-enter-from,
    .OptionFade-leave-to {
        opacity: 0;
    }
};


@mixin Fade-0-5 {
    .OptionFade-enter-active,
    .OptionFade-leave-active {
        transition: opacity .5s;

    }
    .OptionFade-enter-from,
    .OptionFade-leave-to {
        opacity: 0;
    }
};

@mixin Slide {
    .OptionSlide-enter-active,
    .OptionSlide-leave-active {
        transition: transform .5s;
    }

    .OptionSlide-enter-from,
    .OptionSlide-leave-to {
        transform: translateY(-50%) translateX(100vw);
    }
}